


@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Inter:wght@800&family=Poppins:wght@600;700;800;900&family=Roboto:wght@400;700&family=Rubik:wght@900&family=Unbounded:wght@200;300;400;700;900&display=swap');

:root {
font-family: 'Unbounded', sans-serif;
line-height: 1.5;
font-weight: 300;
color-scheme: light dark;
background-color: #2B2C28;
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
display: flex;
justify-content: center;
min-width: 320px;
}



@media (prefers-color-scheme: light) {
:root {
  color: #213547;
  background-color: #ffffff;
}
a:hover {
  color: #747bff;
}
button {
  background-color: #f9f9f9;
}
}

@media (max-width: 1024px)  {
  .container{
    width: 100%;
  }
  .title{
    font-size: 3.2em ;
  }
  .input-div input{
    font-size: 85%;
  }
  .footer ul{
    padding-left: 0px;
    width: 70%;
  }
}